<section>
  <p style="font-size: 1.5em; text-align: center;">Hola, soy <strong>Nahuel Sotelo</strong></p>
  <p style="text-align: center;">Frontend developer en <a href="http://www.schibsted.es/">Schibsted Spain</a> y Profesor de la asignatura Programación Frontend en el Master de <a href="http://www.baued.es/es/estudios/masters-y-posgrados/master-en-diseno-web">Diseño Web de Bau</a>.</p>

  <ul class="social">
    <li><a href="https://github.com/nahuelsotelo" class="is--github">Github</a></li>
    <li><a href="https://es.linkedin.com/in/nahuelsotelo" class="is--linkedin">Linkedin</a></li>
    <li><a href="https://twitter.com/nahuelsotelo" class="is--twitter">Twitter</a></li>
  </ul>
</section>

<section>
  <h2>Contenidos</h2>
  <ol>
    <li>Introducción (coste de las imágenes)</li>
    <li>Bitmap</li>
    <li>Tipos de compresión</li>
    <li>Optimización manual</li>
    <li>Sprites</li>
    <li>Optimización automática</li>
    <li>SVG</li>
    <li>SVG aplicacion</li>
    <li>Nuevos formatos de imágen</li>
  </ol>
</section>

<!--

- Compress Images with the right format at the lowest acceptable quality level

  - Hand-tune (where possible) your compression quality for all images
  - Automate the rest to get the best performance

- Investigate using WebP for all your image needs

- Save your images with progressive options to improve user perception of your pages’ load times

- Investigate other interesting ways to get better compression, or transparency. Think outside the box!

-->
