<section>
  <section>
    <h1>Bitmap</h1>
  </section>

  <section>
    <h2>GIF (1987)</h2>
    <ul>
      <li>256 colores</li>
      <li>Transparencia simple (no Alpha)</li>
      <li>Animación</li>
      <li>Compresión <b>sin</b> pérdida (Lossless)</li>
    </ul>
  </section>

  <section>
    <h2>JPG</h2>
    <ul>
      <li>Color RGB (24 bits)</li>
      <li>Sin transparencia</li>
      <li>Sin animación</li>
      <li>Compresión <b>con</b> pérdida (Lossy)</li>
    </ul>
  </section>

  <section>
    <h2>PNG (1996)</h2>
    <ul>
      <li>Paletas de color de 8 a 32 bits</li>
      <li>Transparencia por Canal Alpha</li>
      <li>Animación (pero sin soporte de navegadores :( )</li>
      <li>Problemas con la trasparencia en IE 6-8</li>
      <li>Compresión <b>sin</b> pérdida (Lossless)</li>
    </ul>
  </section>
</section>
