<section>
  <h2>Formatos Bitmap</h2>
</section>

<section>
  <h3>GIF (1987)</h3>
  <figure>
    <img src="img/robocop.gif" alt="" style="height: 24rem;">
    <figcaption class="fz-s"><a href="https://www.youtube.com/watch?v=zbCbwP6ibR4">Robocop</a> (1987)</figcaption>
  </figure>
</section>

<section>
  <ul>
    <li>256 colores</li>
    <li>Transparencia simple (no Alpha)</li>
    <li>Animación</li>
    <li>Compresión <b>sin</b> pérdida (Lossless)</li>
  </ul>
  <hr>
  <ul>
    <li><strong>Buenos para:</strong> gifs de gatos.</li>
    <li><strong>Malos para:</strong> casi todo lo demás.</li>
  </ul>
</section>

<section>
  <h3>JPG (1992)</h3>
  <figure>
    <img src="img/ash.jpg" alt="" style="height: 24rem;">
    <figcaption class="fz-s"><a href="https://www.youtube.com/watch?v=Y_51HrX_LB0">Army of Darkness</a> (1992)</figcaption>
  </figure>
</section>

<section>
  <ul>
    <li>Color RGB (24 bits)</li>
    <li>Sin transparencia</li>
    <li>Sin animación</li>
    <li>Compresión <b>con</b> pérdida (<i>Lossy</i>)</li>
  </ul>
  <hr>
  <ul>
    <li><strong>Buenos para:</strong> fotos (degradados suaves, areas de bajo contraste).</li>
    <li><strong>Malos para</strong> logos (borders planos, areas de alto contraste).</li>
  </ul>
</section>

<section>
  <h3>PNG (1996)</h3>
  <figure>
    <img src="img/trainspotting.png" alt="" style="height: 24rem;">
    <figcaption class="fz-s"><a href="https://www.youtube.com/watch?v=8LuxOYIpu-I">Trainspotting</a> (1996)</figcaption>
  </figure>
</section>

<section>
  <ul>
    <li>Paletas de color de 8 a 32 bits</li>
    <li>Transparencia por Canal Alpha</li>
    <li>Animación (pero sin soporte de navegadores :( )</li>
    <li>Problemas con la trasparencia en IE 6-8</li>
    <li>Compresión <b>sin</b> pérdida (Lossless)</li>
  </ul>
  <hr>
  <ul>
    <li><strong>Buenos para:</strong> logos, ilustración (colores planos, bordes definidos, transparencia)</li>
    <li><strong>Malos para:</strong> fotografía</li>
  </ul>
</section>
