<section>
  <h2>Optimización manual</h2>
</section>

<section>
  <h3>Guardar para web en Photoshop</h3>
  <p style="text-align:center;">
    <img src="img/photoshop.png" alt="" style="height: 75vh;">
  </p>
</section>

<section>
  <ol>
    <li>Elegir el formato adecuado</li>
    <li>Recortar la imágen al tamaño de final</li>
    <li>JPG: Elegir el nivel de compresion (75-70 óptimo)</li>
    <li>PNG: Limitar la paleta de colores</li>
    <li>Opcional: Activar la opción de descarga progresiva (JPG) / entrelazada (PNG)</li>
    <li>Quitar la metadata (sino la necesitamos)</li>
  </ol>

  <aside class="notes">
    <p>La descarga entrelazada / progresiva aumenta el peso del fichero aunque el usuario perciba una mejora en la performance </p>
  </aside>
</section>

<section>
  <h3>Aplicaciones de optimización</h3>
  <img src="img/ImageOptimIcon.png" alt="" style="box-shadow: none; float: left; margin-right: 5rem; width: 16rem;">
  <ul style="margin-top: 4rem;">
    <li><a href="https://imageoptim.com/es.html">ImgOptim</a></li>
    <li><a href="https://pngmini.com/">ImageAlpha</a></li>
  </ul>
</section>
