<section>
  <section>
    <h1>Tipos de compresión</h1>
  </section>

  <section>
    <h2>Lossy Compression</h2>
    <p>Es un tipo de compresión que ocasiona perdida de información durante el proceso.</p>
    <p>La información perdida <b>no</b> se recupera cuando el cliente descomprime la imágen para representarla, por lo que es importante evaluar el ratio peso/calidad que queremos para como resultado final.</p>
  </section>

  <section>
    <h3>Ejemplo de lossy compression</h3>
    <table style="font-size: .8em;">
      <tr>
        <th>Antes</th>
        <th style="border-left: 1px dotted rgba(0, 0, 0, .3); width: 50%;">Después</th>
      </tr>
      <tr>
        <td>0.123, 1.2345, 21.2165, 12.123</td>
        <td style="border-left: 1px dotted rgba(0, 0, 0, .3)">0,0,20,10</td>
      </tr>
    </table>
  </section>

  <section>
    <h2>Lossless Compression</h2>
    <p>Este tipo de compresión consigue a base de diferentes algoritmos reducir el peso de los ficheros sin perder información.</p>
    <p>La redución de tamaño no suele ser tan drástica como la de una compresión lossy pero la imágen se descomprime intacta.</p>
  </section>

  <section>
    <h3>Ejemplo de lossy compression</h3>
    <table style="font-size: .8em;">
      <tr>
        <th>Antes</th>
        <th style="border-left: 1px dotted rgba(0, 0, 0, .3); width: 50%;">Después</th>
      </tr>
      <tr>
        <td>aaaaabbbbbcccddddeeeeffffaaaaabb</td>
        <td style="border-left: 1px dotted rgba(0, 0, 0, .3)">a5b4c2d4e4f4a5bb0</td>
      </tr>
    </table>
  </section>

  <section>
    <h2>Enlaces relacionados:</h2>
    <ul>
      <li>
        <a href="https://www.youtube.com/watch?v=k4Xkpawt1EU">“Image Compression: Putting your Images on a Diet”</a> - <i>Guy Podjarny</i>
      </li>
  </section>
</section>
