<section>
  <section>
    <h1>Optimización manual</h1>
  </section>

  <section>
    <h3>Guardar para web en Photoshop</h3>
    <p style="text-align:center;">
      <img src="img/photoshop.png" alt="" style="height: 75vh;">
    </p>

  </section>

  <section>
    <ol>
      <li>Elegir el formato adecuado</li>
      <li>JPG: Elegir el nivel de compresion (75-70 óptimo)</li>
      <li>PNG: Limitar la paleta de colores</li>
      <li>Opcional: Activar la opción de descarga progresiva (JPG) / entrelazada (PNG)</li>
      <li>Quitar la metadata (sino la necesitamos)</li>
    </ol>

    <aside class="notes">
      <p>La descarga entrelazada / progresiva aumenta el peso del fichero aunque el usuario perciba una mejora en la performance </p>
    </aside>
  </section>

  <section>
    <h3>Aplicaciones de optimización</h3>
    <ul>
      <li><a href="">ImgOptim</a></li>
      <li><a href="">ImageAlpha</a></li>
    </ul>
  </section>

  <section>
    <h2>Enlaces relacionados:</h2>
    <ul>
      <li>
        <a href="">“”</a> - <i></i>
      </li>
  </section>
</section>
