<section>
  <section>
    <h1>Optimización automática</h1>
    <p style="text-align: center;"><a href="../demo/demo.zip">Demo</a></p>
  </section>
  <section>
    <h2>JPG / GIF / PNG</h2>
    <ul>
      <li>
        <a href="http://jamiemason.github.io/ImageOptim-CLI/">ImageOptim-CLI</a>
        <ul style="margin-bottom: 3rem;">
          <li>
            <a href="https://github.com/allbitsnbytes/gulp-imageoptim">gulp-imageoptim</a>
          </li>
          <li>
            <a href="https://github.com/JamieMason/grunt-imageoptim">grunt-imageoptim</a>
          </li>
        </ul>
      </li>

      <li>
        <a href="https://github.com/imagemin/imagemin">Imagemin</a>
        <ul>
          <li>
            <a href="https://github.com/sindresorhus/gulp-imagemin">gulp-imagemin</a>
          </li>
          <li>
            <a href="https://github.com/gruntjs/grunt-contrib-imagemin">grunt-contrib-imagemin</a>
          </li>
        </ul>
      </li>
    </ul>
  </section>

  <section>
    <h2>SVG</h2>
    <ul>
      <li>
        <a href="https://github.com/svg/svgo">Svgo</a>
        <ul>
          <li><a href="https://github.com/ben-eb/gulp-svgmin">grunt-svgmin</a></li>
          <li><a href="https://github.com/sindresorhus/grunt-svgmin">gulp-svgmin</a></li>
        </ul>
      </li>
    </ul>
  </section>

  <section>
    <h2>Sprites</h2>
    <ul>
      <li><a href="https://github.com/jkphl/gulp-svg-sprite">gulp-svg-sprite</a></li>
      <li><a href="https://github.com/akoenig/gulp-svg2png">gulp-svg2png</a></li>
      <li><a href="https://github.com/aslansky/css-sprite">css-sprite</a></li>
      <li>
        <a href="http://www.grumpicon.com/">Grumpicon</a>
        <ul>
          <li>
            <a href="http://www.grunticon.com/">Grunticon</a>
          </li>
        </ul>
      </li>
    </ul>
  </section>

  <section>
    <h2>Enlaces relacionados:</h2>
    <ul>
      <li>
        <a href="http://addyosmani.com/blog/image-optimization-tools/">“Tools for image optimization”</a> - <i>Addy Osmani</i>
      </li>

      <li>
        <a href="http://yeoman.io/blog/performance-optimization.html">“Grunt and Gulp tasks for performance optimization”</a>
      </li>

      <li>
        <a href="https://www.youtube.com/watch?v=vCHkpxPP6Es">“Advanced Image Compression Techniques Tutorial”</a> - <i>Tobias Baldauf</i>
      </li>
  </section>
</section>
