<section>
  <section>
    <h1>Vectores</h1>
  </section>
  <section>
    <h2>SVG (2001)</h2>

    <figure data-height="420" data-theme-id="0" data-slug-hash="aOxXBv" data-default-tab="result" data-user="felixgonthier" class='codepen'>
    See the Pen <a href='http://codepen.io/felixgonthier/pen/aOxXBv/'>Mike Wazowski in svg</a> by Felix Gonthier (<a href='http://codepen.io/felixgonthier'>@felixgonthier</a>) on <a href='http://codepen.io'>CodePen</a>.</figure>
    <script async src="//assets.codepen.io/assets/embed/ei.js"></script>
    <p class="fz-s" style="margin-top: 0; text-align: center;"><a href="">Monster Inc.</a> (2001)</p>
  </section>

  <section>
    <ul>
      <li>Gráficos vectoriales en formato XML.</li>
      <li></li>
    </ul>
  </section>
</section>
