<section>
  <section>
    <h1>Nuevos Formatos de Imágenes</h1>
  </section>

  <section>
    <h2>WEBP</h2>
    <figure>
      <img src="img/webp.png" alt="" style="height: 30rem">
      <figcaption class="fz-s"><a href=""></a></figcaption>
    </figure>
  </section>


  <section>
    <ul>
      <li>Creado e impulsado por Google</li>
      <li>Compresión <i>Lossless</i> y <i>Lossy</i></li>
      <li>Alpha Channel</li>
      <li>Animación?</li>
    </ul>
    <hr>
    <ul>
      <li><strong>Contras:</strong>
        <ul>
          <li><a href="">Escaso soporte en navegadores</a> (excepto Chrome y Opera).</li>
          <li>En compresiones altas puede dar un efecto de posterizado.</li>
        </ul>
      </li>
    </ul>

  </section>

  <section>
    <h2>BPG (1987) <small style="display: block;">(Better Portable Graphics)</small></h2>

    <figure>
      <img src="img/bpg.png" alt="" style="height: 30rem">
    </figure>
  </section>

  <section>
    <ul>
      <li>Es Open Source y no tiene ninguna compañía grande detrás</li>
      <li>Está basado en el standard de compresión de video HEVC (antes conocido como H.265)</li>
      <li>Compresión <i>Lossless</i> y <i>Lossy</i></li>
      <li>Alpha Channel</li>
      <li>Animación</li>
    </ul>
    <hr>
    <ul>
      <li><strong>Pros:</strong> Tiene soporte en todos los browser con un decodificador por js (56kb gzip).</li>
      <li><strong>Contras:</strong> Pocas herramientas para compilarlo y renderizado es lento.</li>
    </ul>
  </section>

  <section>
    <h2>Enlaces relacionados:</h2>
    <ul class="related-links">
      <li>
        <a href="http://xooyoozoo.github.io/yolo-octo-bugfixes/">Comparativa de diferentes formatos</a></i>
      </li>

      <li>
        <a href="https://developers.google.com/speed/webp">“A new image format for the Web”</a>
      </li>

      <li>
        <a href="http://www.smashingmagazine.com/2015/10/webp-images-and-performance/">“Guide To Using WebP Images Today: A Case Study”</a> <i>&#8213; Adrian James & Matt Shull</i>
      </li>

      <li>
        <a href="http://blog.jpegmini.com/5-reasons-why-bpg-will-eventually-replace-jpeg/">“5 Reasons Why BPG Will Eventually Replace JPEG”</a> <i>&#8213; Dror Gill</i>
      </li>

      <li>
        <a href="https://eek.ro/why-bpg-will-replace-gifs-and-not-only/">“Why BPG will replace GIFs and not only”</a> <i>&#8213; Radu-Sebastian Amarie</i>
      </li>

      <li>
        <a href="http://bellard.org/bpg/">BPG’s official Page</a>
      </li>
    </ul>
  </section>

</section>


<!-- http://blog.jpegmini.com/5-reasons-why-bpg-will-eventually-replace-jpeg/ -->
