---

layout: global
title: 'Optimización de imágenes'

lesson_title: 'Optimización de imágenes'

---

{% include 00-contents.html %}

{% include 01-introduction.html %}

{% include 02-bitmap.html %}

{% include 03-svg-intro.html %}

{% include 04-sprites.html %}

{% include 05-auto-optim.html %}

{% include 06-new-formats.html %}


<section>
  <h2 style="text-align: center;">¡Gracias!</strong></h2>
  <p style="text-align: center;">Preguntas, dudas, comentarios a <a href="mailto:hola@nahuelsotelo.com" style="display: block;">hola@nahuelsotelo.com</a></p>

  <ul class="social">
    <li><a href="https://github.com/nahuelsotelo" class="is--github">nahuelsotelo</a></li>
    <li><a href="https://es.linkedin.com/in/nahuelsotelo" class="is--linkedin">Nahuel Sotelo</a></li>
    <li><a href="https://twitter.com/nahuelsotelo" class="is--twitter">@nahuelsotelo</a></li>
  </ul>
</section>
